.container_header {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    background-color: white;
    padding: 20px 20px 20px 20px;
    border-bottom: darkgray 1px solid;
}

.button_name {
    margin-right:auto;
    font-family:'Franklin Gothic Medium';
    font-size:32px;;
    font-weight: 500;
    color: #f70776;
    border: none;
    background: none;
    span {
        color: purple;
    }
}

.button_sections {
    font-family:'Franklin Gothic Medium';
    font-size: 20px;
    font-weight: 500;
    color: #0881a3;
    border: none;
    background: none;
}

.p_intro {
    font-family: 'Franklin Gothic Medium';
    font-size: 18px;
    font-weight: 500;
    color: #c3195d;
}